.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 50vh;
    width: 50%;
}

.square {
    border: 1px solid black;
}

.start {
    color: white;
    background-color: green;
}

.stop {
    color: black;
    background-color: plum;
}